* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

h1 {
    color: #e8e8e8;
    text-shadow: 4px 4px 3px #bebebe, 
                 -3px -3px 5px #ffffff;
}

.wrap{
    width: 100%;
    height: 100vh;
    background-color: #e0e0e0;
}

.dow{
    width: 2000px;
    height: 300px;
}

form {
    text-align: center;
}

.form {
    /* height: 100px; */
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #bebebe,
                -10px -10px 20px #ffffff;
    margin: 10px 0;
}

.time{
    display: flex;
    justify-content: space-around;
    width: 400px;
}

/* 時計本体 */
#clock2 {
    margin: 40px auto;
    max-width: 200px; /* 幅のレスポンシブ対応 、height 値は JavaScript で決める*/
    position: relative;
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow:  20px 20px 40px #bebebe,
                 -20px -20px 40px #ffffff;}

/* 秒針 */
#second-hand2 {
    animation: rotation-s2 60s linear infinite; /* 60秒かけて一周 */
    background-color: #999;
    border-radius: 2px;
    height: 4px; /* 線幅 */
    position: absolute;
    right: calc(50% - 2px); /* 位置調整 線幅の半分ずらす */
    top: calc(50% - 2px); /* 位置調整 線幅の半分ずらす */
    transform-origin: calc(100% - 2px) center; /* アニメーションの中心軸 線幅の半分ずらす */
    width: 50%;
}

/* 分針 */
#minute-hand2 {
    animation: rotation-m2 3600s linear infinite; /* 3600秒、1時間かけて一周 */
    background-color: #000;
    border-radius: 5px;
    height: 8px; /* 線幅 */
    position: absolute;
    right: calc(50% - 4px); /* 位置調整 線幅の半分ずらす */
    top: calc(50% - 4px); /* 位置調整 線幅の半分ずらす */
    transform-origin: calc(100% - 4px) center; /* アニメーションの中心軸 線幅の半分ずらす */
    width: 40%;
}

/* 時針 */
#hour-hand2 {
    animation: rotation-h2 86400s linear infinite; /* 86400秒、12時間かけて一周 */
    background-color: #000;
    border-radius: 5px;
    height: 8px; /* 線幅 */
    position: absolute;
    right: calc(50% - 4px); /* 位置調整 線幅の半分ずらす */
    top: calc(50% - 4px); /* 位置調整 線幅の半分ずらす */
    transform-origin: calc(100% - 4px) center; /* アニメーションの中心軸 線幅の半分ずらす */
    width: 25%;
}